.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

a:hover {
  color: steelblue;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h2 {
  font-size: 2rem;
  color: steelblue;
  text-align: center;
}

.pagetitle {
  height: 20vh;
  width: 100%;
  font-size: 2rem;
  color: steelblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  color:#282c34;
  font-size: 1.2rem;
  text-align: center;
  width: 100%;
}

.navigation {
  height: 3rem;
  background-color: #282c34;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navigation ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navigation ul li {
  list-style: none;
  margin: 0 3rem;
}

.navigation ul li:hover {
  color: steelblue;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.record {
  width: 90%;
  height: auto;
  margin: .2rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: .5rem;
  border: 1px solid steelblue;
}

.val {
  font-size: 1.2rem;
  padding: 1rem;
  color: steelblue;
  width: 25%;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: .5rem;
  width: 75%;
}

.row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.field {
  padding: 0 1rem 0 0;
}

.desc {
  color: gray;
  font-size: .8rem;
}

.btn {
  border: none;
  height: 100%;
  width: 10%;
  background-color: transparent;
  margin-left: auto;
  font-size: 1.6rem;
  color: salmon;
}

.btn:hover {
  color: red;
}

.category {
  color: #392759;
  font-style: italic;
}


/* FORM */

.form {
  width: 60%;
  height: auto;
  margin: .2rem 0;
  display: flex;
  padding: .5rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: .5rem;
  border: 1px solid steelblue;
}

.form-field {
  width: 90%;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.form-field label {
  color: gray;
  font-style: italic;
  font-size: .8rem;
  padding: 0 0 .4rem .4rem;
}

input,
textarea {
  width: 100%;
}

.form-field button {
  background-color: steelblue;
  color: white;
  width: 100%;
  box-shadow: #282c34;
  border: none;
  border-radius: .5rem;
  height: 1.8rem;
}

.form-field button:hover {
  background-color: rgb(37, 90, 134);
}